* {
    margin: 0%;
    padding: 0%;
}
body {
    background: #0c2840;
    background: linear-gradient(135deg, #0c2840 0%, #6a70d1 33%, #3e5aa4 66%);
}
h1 {
    font-size: 67px;
    font-family: 'Bebas Neue', cursive;
}
h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
}
h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;    
}
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 27px;    
}
p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;    
}
li {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;    
}
a {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;    
}
/* index */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #02080d;
    background: linear-gradient(135deg, #02080d 0%, #6065b3 33%, #304680 66%);
    .header__imagen {
        margin: 10px 0;
        width: 15%;
        display: flex;
        justify-content: center;
        img {
            width: 80%;
        }
    }
    .header__titulo {
        display: flex;
        justify-content: center;
        width: 40%;
        h1 {
            color: #1E1E1F;
        }
    }
    .header__nav {
        width: 45%;
        div {
            ul {
                display: flex;
                justify-content: space-evenly;
                li {
                    list-style: none;
                    :hover {
                        color: white;
                    }
                    a {
                        font-family: 'Bebas Neue', cursive;
                        color: #1E1E1F;
                        font-size: 28px;
                    }
                }
            }
        }
    }
}
.datos__titulo {
    text-align: center;
    margin: 50px 0;
}
.encabezado {
    display: flex;
    .datos {
        display: flex;
        flex-direction: column;
        width: 33%;
        .datos__informacion {
            margin: 15px;
            h4 {
                margin: 5px;
            }
            p {
                :hover {
                    color: white;
                }
            }
        }
    }
    .perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 66%;
        .perfil__titulo {
            margin: 50px 0 30px 0;
        }
        .perfil__texto {
            display: block;
            margin: 0 auto;
            width: 66%;
            p {
                text-align: justify;
            }
        }
    }
}
.biografia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .biografia__titulo {
        margin: 50px 0 30px 30px;
    }
    .biografia__subtitulo {
        text-align: center;
        margin: 50px 0;
    }
    .articulo-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .biografia__texto {
            width: 40%;
            p {
                padding: 10px;
                text-align: justify;
            }
        }
        .biografia__imagen-daisy {
            width: 25%;
            img {
                width: 100%;
            }
        }
    }
    .articulo-2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .biografia__texto {
            width: 40%;
            p {
                padding: 10px;
                text-align: justify;
            }
        }
        .biografia__imagen-4x4 {
            width: 30%;
            img {
                width: 100%;
            }
        }
    }
    .articulo-3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .biografia__texto {
            width: 40%;
            p {
                padding: 10px;
                text-align: justify;
            }
        }
        .biografia__imagen-familia {
            width: 50%;
            img {
                width: 100%;
            }
            p {
                font-size: 15px;
                text-align: center;
            }
        }
    }
}
.educacion {
    display: flex;
    flex-direction: column;
    .educacion__titulo {
        margin: 20px;
    }
    .educacion__programador {
        margin: 15px;
    }
    .educacion__institucion {
        margin: 10px;
    }
    .educacion__contenido {
        margin: 5px;
    }
}
.experiencia {
    display: flex;
    flex-direction: column;
    .experiencia__titulo {
        margin: 20px;
    }
    .experiencia__puesto {
        margin: 15px;
    }
    .experiencia__empresa {
        margin: 10px;
    }
    .experiencia__contenido {
        margin: 5px;
        .items {
            margin: 5px 0;
        }
    }
}
.conocimientos__titulo {
    h2 {
        text-align: center;
        margin: 30px 0;
    }
}
.conocimientos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    .conocimientos__lenguajes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100px;
            height: 100px;
        }
        p {
            text-align: center;
        }
    }
}
.portfolio {
    display: flex;
    flex-direction: column;
    .portfolio__titulo {
        margin: 20px;
    }
    .portfolio__paginas {
        margin: 10px;
        :hover {
            color: white;
        }
    }
}
.footer {
    background: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-top: 50px;
    .footer__redes {
        a {
            display: flex;
            align-items: center;
            img {
                height: 30px;
                width: 30px;
                margin-right: 7px;
            }
            p {
                font-family: 'Bebas Neue', cursive;
                color: white;
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 42px;
    }
    h3 {
        font-size: 35px;
    }
    h4 {
        font-size: 30px;    
    }
    h5 {
        font-size: 27px;
    }
    h6 {
        font-size: 24px;    
    }
    p {
        font-size: 16px;    
    }
    li {
        font-size: 16px;    
    }
    a {
        font-size: 16px;
    }
    .header {
        .header__nav {
            div {
                ul {
                    li {
                        a {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
    .datos__titulo {
        margin: 30px 0;
    }
    .encabezado {
        .datos {
            .datos__informacion {
                margin: 12px;
                h4 {
                    margin: 4px;
                }
            }
        }
        .perfil {
            .perfil__titulo {
                margin: 35px 0px 20px 0;
            }
        }
    }
    .biografia {
        .biografia__titulo {
            margin: 35px 0 20px 20px;
        }
        .biografia__subtitulo {
            margin: 35px 0;
        }
        .articulo-1 {
            .biografia__texto {
                p {
                    padding: 8px;
                }
            }
        }
        .articulo-2 {
            .biografia__texto {
                p {
                    padding: 8px;
                }
            }
        }
        .articulo-3 {
            .biografia__texto {
                p {
                    padding: 8px;
                }
            }
                .biografia__imagen-familia {
                    p {
                        font-size: 12px;
                    }
                }
        }
    }
    .educacion {
        .educacion__titulo {
            margin: 15px;
        }
        .educacion__programador {
            margin: 10px;
        }
        .educacion__institucion {
            margin: 7px;
        }
        .educacion__contenido {
            margin: 3px;
        }
    }
    .experiencia {
        .experiencia__titulo {
            margin: 15px;
        }
        .experiencia__puesto {
            margin: 10px;
        }
        .experiencia__empresa {
            margin: 7px;
        }
        .experiencia__contenido {
            margin: 3px;
        }
    }
    .conocimientos__titulo {
        margin: 25px 0;
    }
    .conocimientos {
        .conocimientos__lenguajes {
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
    .portfolio {
        .portfolio__titulo {
            margin: 15px;
        }
        .portfolio__paginas {
            margin: 7px;
        }
    }
    .footer {
        padding: 22px;
        margin-top: 40px;
        .footer__redes {
            a {
                img {
                    height: 25px;
                    width: 25px;
                    margin-right: 5px;
                }
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 26px;    
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 22px;    
    }
    p {
        font-size: 14px;    
    }
    li {
        font-size: 14px;    
    }
    a {
        font-size: 14px;
    }
    .header {
        justify-content: space-evenly;
        .header__imagen {
            margin: 7px 0;
            width: 25%;
            img {
                width: 70%;
            }
        }
        .header__titulo {
            width: 70%;
            h1 {
                text-align: center;
            }
        }
        .header__nav {
            display: none;
        }
    }
    .datos__titulo {
        margin: 20px 0;
    }
    .encabezado {
        flex-direction: column;
        .datos {
            display: flex;
            flex-direction: column;
            width: 100%;
            .datos__informacion {
                margin: 12px;
                h4 {
                    margin: 5px;
                }
            }
        }
        .perfil {
            width: 100%;
            .perfil__titulo {
                margin: 35px 0 15px 0;
            }
            .perfil__texto {
                width: 70%;
            }
        }
    }
    .biografia {
        .biografia__titulo {
            margin: 25px 0 12px 12px;
        }
        .biografia__subtitulo {
            margin: 25px 0;
        }
        .articulo-1 {
            flex-direction: column;
            .biografia__texto {
                width: 66%;
                margin-bottom: 10px;
                p {
                    padding: 5px;
                }
            }
            .biografia__imagen-daisy {
                width: 50%;
                img {
                    width: 100%;
                }
            }
        }
        .articulo-2 {
            flex-direction: column-reverse;
            .biografia__texto {
                width: 66%;
                margin-bottom: 10px;
                p {
                    padding: 5px;
                }
            }
            .biografia__imagen-4x4 {
                width: 50%;
                img {
                    width: 100%;
                }
            }
        }
        .articulo-3 {
            flex-direction: column;
            .biografia__texto {
                width: 66%;
                margin-bottom: 10px;
                p {
                    padding: 5px;
                }
            }
                .biografia__imagen-familia {
                    width: 60%;
                    img {
                        width: 100%;
                    }
                    p {
                        font-size: 10px;
                    }
                }
        }
    }
    .educacion {
        .educacion__titulo {
            margin: 10px;
        }
        .educacion__programador {
            margin: 7px;
        }
        .educacion__institucion {
            margin: 5px;
        }
        .educacion__contenido {
            margin: 3px;
        }
    }
    .experiencia {
        .experiencia__titulo {
            margin: 10px;
        }
        .experiencia__puesto {
            margin: 7px;
        }
        .experiencia__empresa {
            margin: 5px;
        }
        .experiencia__contenido {
            margin: 3px;
        }
    }
    .conocimientos__titulo {
        margin: 10px 0;
    }
    .conocimientos {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .conocimientos__lenguajes {
            margin: 5px 0;
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
    .portfolio {
        .portfolio__titulo {
            margin: 10px;
        }
        .portfolio__paginas {
            margin: 5px;
        }
    }
    .footer {
        padding: 15px;
        margin-top: 30px;
        .footer__redes {
            a {
                img {
                    height: 20px;
                    width: 20px;
                    margin-right: 4px;
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 29px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 22px;    
    }
    h5 {
        font-size: 19px;
    }
    h6 {
        font-size: 16px;    
    }
    p {
        font-size: 12px;    
    }
    li {
        font-size: 12px;    
    }
    a {
        font-size: 12px;
    }
    .header {
        justify-content: space-evenly;
        .header__imagen {
            margin: 5px 0;
            width: 25%;
            img {
                width: 70%;
            }
        }
        .header__titulo {
            width: 70%;
            text-align: center;
        }
        .header__nav {
            display: none;
        }
    }
    .datos__titulo {
        margin: 12px 0;
    }
    .encabezado {
        flex-direction: column;
        .datos {
            display: flex;
            flex-direction: column;
            width: 100%;
            .datos__informacion {
                margin: 10px;
                h4 {
                    margin: 4px;
                }
            }
        }
        .perfil {
            width: 100%;
            .perfil__titulo {
                margin: 20px 0 10px 0;
            }
            .perfil__texto {
                width: 75%;
            }
        }
    }
    .biografia {
        .biografia__titulo {
            margin: 15px 0 10px 10px;
        }
        .biografia__subtitulo {
            margin: 15px 0;
        }
        .articulo-1 {
            flex-direction: column;
            .biografia__texto {
                width: 80%;
                margin-bottom: 7px;
                p {
                    padding: 4px;
                }
            }
            .biografia__imagen-daisy {
                width: 66%;
                img {
                    width: 100%;
                }
            }
        }
        .articulo-2 {
            flex-direction: column-reverse;
            .biografia__texto {
                width: 80%;
                margin-bottom: 7px;
                p {
                    padding: 4px;
                }
            }
            .biografia__imagen-4x4 {
                width: 66%;
                img {
                    width: 100%;
                }
            }
        }
        .articulo-3 {
            flex-direction: column;
            .biografia__texto {
                width: 80%;
                margin-bottom: 7px;
                p {
                    padding: 4px;
                }
            }
                .biografia__imagen-familia {
                    width: 75%;
                    div {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                    p {
                        font-size: 9px;
                    }
                }
        }
    }
    .educacion {
        .educacion__titulo {
            margin: 8px;
        }
        .educacion__programador {
            margin: 6px;
        }
        .educacion__institucion {
            margin: 4px;
        }
        .educacion__contenido {
            margin: 3px;
        }
    }
    .experiencia {
        .experiencia__titulo {
            margin: 8px;
        }
        .experiencia__puesto {
            margin: 6px;
        }
        .experiencia__empresa {
            margin: 4px;
        }
        .experiencia__contenido {
            margin: 3px;
        }
    }
    .conocimientos__titulo {
        margin: 7px 0;
    }
    .conocimientos {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .conocimientos__lenguajes {
            margin: 4px 0;
            img {
                width: 65px;
                height: 65px;
            }
        }
    }
    .portfolio {
        .portfolio__titulo {
            margin: 7px;
        }
        .portfolio__paginas {
            margin: 5px;
        }
    }
    .footer {
        padding: 10px;
        margin-top: 20px;
        flex-direction: column;
        .footer__redes {
            a {
                margin: 5px 0;
                img {
                    height: 15px;
                    width: 15px;
                    margin-right: 3px;
                }
                p {
                    font-size: 10px;
                }
            }
        }
    }
}